.hello-heading-1 {
    color: #000;
  
    /* Title 1 */
    font-family: sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.1;
    align-items: center;
  }