.workContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: screen;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  background-color: #57D8FF;
  border-radius:10px;
  padding: 20px 20px 20px 0px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #57D8FF;
  border-radius: 10px 0px 0px 10px;
  gap: 10px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 80%;
  height:fit-content;
  background-color: #6477B3;
}

.buttonContainer{
  display: flex;
  background-color: #6477B3;
  border-radius: 10px 0px 0px 10px;
}

.boxHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px
}

.leftBar{
  font-family: Jura;
  display: flex;
background-color: #7B99FD;
}

.rightBar{
  font-family: Jura;
  display: flex;
  background-color: #AEC0FE;
}

.headerWork1 {
  font-family: Jura;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card1 {
  display: flex;
  width: 907px;
  align-items: center;
  gap: 70px;
  flex-direction: row;
  @media (max-width: 1024px) {
    gap: 10px;
    flex-direction: column;
    border-top: 1px solid grey;
    width: 500px;
  }
}


@keyframes floatFlower {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.backgroundImage2 {
  content: "";
  position: absolute;
  top: 1500px;
  // left: 1000px;
  right: 230px;
  bottom: 0;
  width: 154px;
  height: 156px;
  z-index: -1;
  animation: floatFlower 4s ease-in-out infinite;
  @media (max-width: 1024px) {
    right: 5px;
    top: 2200px;
    width: 133px;
    height: 119px;
  }
}